.features{
    
    overflow-x: hidden;
    text-align: center;
    padding: 4em 1em 2em;
    .copy{
        max-width: 550px; 
        margin: 0 auto;
    }
}

.tabs{
    //border: 1px solid blue;
    
   
    margin-top: 2em;
    border-top: 1px solid var(--lighGray);
    &__link{
        border-bottom: 1px solid var(--lighGray);
    }
    &__content{
        display: none;
        flex-direction: column;
           
        
    }
    &__imagen{
            justify-self: end;
        img{
            max-width: 100%;
            max-height: 300px;
            margin-bottom: 1.5em;
            //border: 1px solid red;
            margin-right: 1em;
        }
    }   
    &__grid{
        margin-top: 4em;
    }

    &__block{
        position: absolute;
        width: 75%;
        height: 195px;
        background: var(--SoftBlue);
        z-index: -1;
        margin-top: 4em;
        left: 0;
        border-bottom-right-radius: 40%;
        
    }
   
    &__contenido{
        max-width: 350px;
        text-align: center;
        margin: 0 auto;
       
    }
    ul{
        padding: 0em;
        margin: 0em;
    }
    li{
        list-style: none;
    }
    label{
        padding: 1em 0 ;
        display: block;
        position: relative;
        cursor: pointer;
        
        &:after{
            display: none;
            content: "";
            height: 5px;
            position: absolute;
            bottom: 0;
            width: 50%;
            left: 0;
            transform: translateX(50%);
            box-shadow: inset 0 -15px 0px -10px var(--SoftRed);
        }
    }
    input{
        display: none;
    }
    input[id="bookmarking"]:checked{
        & ~ ul [for="bookmarking"]:after{
            display: block;
        }
        & ~ .tabs__grid #tab-bookmarking{
            display: block;
        } 
    }
    input[id="speendy"]:checked{
        & ~ ul [for="speendy"]:after{
            display: block;
        }
        & ~ .tabs__grid #tab-speendy{
            display: block;
        }
    }
    input[id="easy"]:checked{
        & ~ ul [for="easy"]:after{
            display: block;
        }
        & ~ .tabs__grid #tab-easy{
            display: block;
        }
    }
    @media screen and (min-width: 820px){
        border-top: none;    
        ul{
            display: flex;
            justify-content: center;
            li{
                font-size: .8em;
                min-width: 200px;
            }
        }
        &__block{
            position: absolute;
            height: 230px;
            background: var(--SoftBlue);
            z-index: -1;
            left: -250px;
            border-bottom-right-radius:40%;
        }
        &__grid2{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        &__contenido{
            text-align: start;
            justify-content: start;
            justify-self: center;
            padding: 2em 0;
            button{
                margin-top: 2em;
            }
        }
    }
    @media screen and (min-width: 300px){
        &__alto{
            margin-top: 2em;
        }
    }
    @media screen and (min-width: 400px){
        &__block{
            margin-top: 6em;
        }
        &__alto{
            margin-top: 2em;
        }
    }
    @media screen and (min-width: 450px){
        &__block{
            margin-top: 7em;
        }&__alto{
            margin-top: 2em;
        }
    }
    @media screen and (min-width: 550px){
        &__block{
            width: 60%;
            margin-top: 7em;
        }&__alto{
            margin-top: 2em;
        }
    }
   
}