.features{
    text-align: center;
    padding: 4em 1em 2em;

   // border: 1px solid red; 
}

.tabs{
    //border: 1px solid blue;
    overflow-x: hidden;
    margin-top: 2em;
    border-top: 1px solid var(--lighGray);
    &__link{
        border-bottom: 1px solid var(--lighGray);
    }
    &__content{
        display: none;
        flex-direction: column;
        img{
            max-width: 100%;
            margin-bottom: 1.5em;
        }
    }
    &__grid{
        margin-top: 4em;
    }
    ul{
        padding: 0em;
        margin: 0em;
    }
    li{
        list-style: none;
    }
    label{
        padding: 1em 0 ;
        display: block;
        position: relative;
        cursor: pointer;
        
        &:after{
            display: none;
            content: "";
            height: 5px;
            position: absolute;
            bottom: 0;
            width: 50%;
            left: 0;
            transform: translateX(50%);
            box-shadow: inset 0 -15px 0px -10px var(--SoftRed);
        }
    }
    input{
        display: none;
    }
    input[id="bookmarking"]:checked{
        & ~ ul [for="bookmarking"]:after{
            display: block;
        }
        & ~ .tabs__grid #tab-bookmarking{
            display: block;
        } 
    }
    input[id="speendy"]:checked{
        & ~ ul [for="speendy"]:after{
            display: block;
        }
        & ~ .tabs__grid #tab-speendy{
            display: block;
        }
    }
    input[id="easy"]:checked{
        & ~ ul [for="easy"]:after{
            display: block;
        }
        & ~ .tabs__grid #tab-easy{
            display: block;
        }
    }
}