.join{
    background: var(--SoftBlue);
    margin-top: 2em;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
    small{
        text-transform: uppercase;
        letter-spacing: 4px;
        color: white;
        padding-top:4em;
        padding-bottom: 1em;
        font-size: .6em;
        display: inline-block;
    }
    .title__h2{
        color: white;
    }
    .form{
        display: flex;
        flex-direction: column;
        padding: 1em 1em;
        &__input{
            border: none;
            height: 35px;
            margin-bottom: 2em;
            border-radius: 5px;
            padding-left: 2em;
        }
        button{
            margin-bottom: 1em;
        }
    }
}