.quiestions{
        &__content{ 
        text-align: center;
        padding-bottom: 2em;
        overflow-x: hidden;
        }
        .carousel{
          width: 85%;
          margin: 0 auto;
            ul{
                margin: 0;
                padding: 0;
                text-decoration: none;
                li{
                  padding:  1em 0;
                }
              }
              &__click{
                  //border: 1px solid red;
                  display: grid;
                  grid-template-columns: auto 25px;
                  grid-template-rows: auto auto;
                  border-bottom: 1px solid var(--lighGray);
                  .copy2{
                      color: var(--VeryDarkBlue);
                      //border: 1px solid red;
                  }
                  label{
                    align-self: center;
                    justify-self: end;
                   
                  }
                  svg{
                      cursor: pointer;
                  }
              }
              &__hidden{
                  display: none;
                  grid-column: 1/3;  
              }
              input{
                  display: none;
              }
              input[id="what"]:checked ~ * #what-hidden{
                display: block;
              }
              input[id="how"]:checked ~ * #how-hidden{
                display: block;
              } 
              input[id="app"]:checked ~ * #app-hidden{
                display: block;
              } 
              input[id="other"]:checked ~ * #other-hidden{
                display: block;
              }  
              }
              @media screen and (min-width: 768px){
                &__grid{
                  max-width: 500px;
                  margin: 0 auto;
                }
              }
        }
       
       