.header {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;
}
.header img {
  align-self: center;
}

.hero {
  width: 100%;
}
.hero__imagenContent {
  width: 100%;
  height: 100%;
}
.hero__imagen {
  padding-top: 2em;
  max-width: 100%;
  height: 200px;
}
.hero__fondo {
  background: var(--SoftBlue);
  height: 155px;
  width: 75%;
  position: absolute;
  left: 25%;
  top: 8.5em;
  border-bottom-left-radius: 40%;
  z-index: -1;
}
.hero__content {
  text-align: center;
  padding: 2em 1em;
}
.hero__boton {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 1em;
  justify-content: center;
}
@media screen and (min-width: 490px) {
  .hero .hero__imagen {
    height: 250px;
  }
  .hero .hero__fondo {
    height: 200px;
    top: 9em;
  }
}
@media screen and (min-width: 580px) {
  .hero .hero__imagen {
    height: 300px;
  }
  .hero .hero__fondo {
    height: 245px;
  }
}
@media screen and (min-width: 650px) {
  .hero .hero__imagen {
    height: 350px;
  }
  .hero .hero__fondo {
    height: 295px;
  }
}

.features {
  text-align: center;
  padding: 4em 1em 2em;
}

.tabs {
  overflow-x: hidden;
  margin-top: 2em;
  border-top: 1px solid var(--lighGray);
}
.tabs__link {
  border-bottom: 1px solid var(--lighGray);
}
.tabs__content {
  display: none;
  flex-direction: column;
}
.tabs__content img {
  max-width: 100%;
  margin-bottom: 1.5em;
}
.tabs__grid {
  margin-top: 4em;
}
.tabs ul {
  padding: 0em;
  margin: 0em;
}
.tabs li {
  list-style: none;
}
.tabs label {
  padding: 1em 0;
  display: block;
  position: relative;
  cursor: pointer;
}
.tabs label:after {
  display: none;
  content: "";
  height: 5px;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 0;
  transform: translateX(50%);
  box-shadow: inset 0 -15px 0px -10px var(--SoftRed);
}
.tabs input {
  display: none;
}
.tabs input[id=bookmarking]:checked ~ ul [for=bookmarking]:after {
  display: block;
}
.tabs input[id=bookmarking]:checked ~ .tabs__grid #tab-bookmarking {
  display: block;
}
.tabs input[id=speendy]:checked ~ ul [for=speendy]:after {
  display: block;
}
.tabs input[id=speendy]:checked ~ .tabs__grid #tab-speendy {
  display: block;
}
.tabs input[id=easy]:checked ~ ul [for=easy]:after {
  display: block;
}
.tabs input[id=easy]:checked ~ .tabs__grid #tab-easy {
  display: block;
}

.download {
  text-align: center;
  padding: 4em 1em;
}
.download__content {
  flex: 1;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 2em;
  border-radius: 18px;
  background: #fafafa;
  box-shadow: 7px 7px 14px #f3f3f3, 7px 7px 14px #ffffff;
}
.download__content p {
  padding-bottom: 1.4em;
}
.download__content img {
  padding-bottom: 1em;
}

.quiestions__content {
  text-align: center;
}
.quiestions .carousel ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.quiestions .carousel__click {
  display: grid;
  grid-template-columns: auto 25px;
  grid-template-rows: auto auto;
  border-bottom: 1px solid var(--lighGray);
}
.quiestions .carousel__click .copy2 {
  color: var(--VeryDarkBlue);
}
.quiestions .carousel__click label {
  align-self: center;
  justify-self: end;
}
.quiestions .carousel__click svg {
  cursor: pointer;
}
.quiestions .carousel__hidden {
  display: none;
  grid-column: 1/3;
}
.quiestions .carousel input {
  display: none;
}
.quiestions .carousel input[id=what]:checked ~ * #what-hidden {
  display: block;
}
.quiestions .carousel input[id=how]:checked ~ * #how-hidden {
  display: block;
}
.quiestions .carousel input[id=app]:checked ~ * #app-hidden {
  display: block;
}
.quiestions .carousel input[id=other]:checked ~ * #other-hidden {
  display: block;
}

.join {
  background: var(--SoftBlue);
  margin-top: 2em;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}
.join small {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  padding-top: 4em;
  padding-bottom: 1em;
  font-size: 0.6em;
  display: inline-block;
}
.join .title__h2 {
  color: white;
}
.join .form {
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
}
.join .form__input {
  border: none;
  height: 35px;
  margin-bottom: 2em;
  border-radius: 5px;
  padding-left: 2em;
}
.join .form button {
  margin-bottom: 1em;
}

.footer {
  background: var(--VeryDarkBlue);
  width: 100%;
  text-align: center;
}
.footer__img {
  margin-top: 2em;
}
.footer ul {
  padding: 0;
}
.footer ul li {
  list-style: none;
  margin-bottom: 2em;
}
.footer ul li a {
  font-size: 0.9em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--GrayishBlue);
  letter-spacing: 2px;
}
.footer__social {
  padding-bottom: 2em;
}
.footer__social img {
  margin: auto 1em;
}

:root {
  --SoftBlue: hsl(231, 69%, 60%);
  --SoftRed: #fa5757;
  --GrayishBlue: hsl(229, 8%, 60%);
  --VeryDarkBlue: hsl(229, 31%, 21%);
  --lighGray: #e5e5e5;
  font-size: 18px;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--GrayishBlue);
  min-width: 370px;
}

.wrapper {
  max-width: 1280px;
  padding: 0 1em;
  margin: auto;
}

.copy {
  line-height: 1.7;
  font-size: 0.8em;
}

.hidde {
  display: none;
}

.title__h1 {
  font-size: 2, 5em;
  color: var(--VeryDarkBlue);
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 0.5em;
}
.title__h2 {
  font-size: 2, 5em;
  color: var(--VeryDarkBlue);
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.3em;
}
.title__h3 {
  font-size: 2, 5em;
  color: var(--VeryDarkBlue);
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1em;
}

.boton__blue {
  border: none;
  padding: 0.9em 0.8em;
  font-size: 0.8em;
  cursor: pointer;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  background: var(--SoftBlue);
}
.boton__white {
  border: none;
  padding: 0.9em 0.8em;
  font-size: 0.8em;
  cursor: pointer;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  background: var(--SoftBlue);
  color: var(--VeryDarkBlue);
  font-weight: 600;
  background: #f3f3f3;
  box-shadow: 7px 7px 14px #dddddd, -7px -7px 14px #ffffff;
}

/*# sourceMappingURL=estilos.css.map */
