input[type=checkbox] {
  display: none;
}

input[type=checkbox] ~ * #wrapper-r {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}
input[type=checkbox] ~ * #wrapper-r .header {
  overflow-x: hidden;
}
input[type=checkbox] ~ * #wrapper-r .header__content {
  position: fixed;
  background: white;
  width: 100%;
  height: 60px;
  padding: 0;
  z-index: 4;
  top: 0;
}
input[type=checkbox] ~ * #wrapper-r .header__content .flex {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 35px;
  margin: 2em auto;
}
input[type=checkbox] ~ * #wrapper-r .header__content .flex .logo {
  background: url("../images/logo-bookmark.svg") no-repeat;
  height: 30px;
  width: 50%;
  margin-top: -1em;
}
input[type=checkbox] ~ * #wrapper-r .header__content .flex .icon {
  background: url("../images/icon-hamburger.svg") no-repeat;
  height: 20px;
  width: 19px;
  margin-top: -0.8em;
}
input[type=checkbox] ~ * #wrapper-r .header__content ul {
  display: none;
}
@media screen and (min-width: 990px) {
  input[type=checkbox] ~ * #wrapper-r .header {
    overflow-x: hidden;
  }
  input[type=checkbox] ~ * #wrapper-r .header__content {
    display: grid;
    grid-template-columns: 350px auto;
    margin: 0 auto;
  }
  input[type=checkbox] ~ * #wrapper-r .header__content .logo {
    font-size: 0.8em;
  }
  input[type=checkbox] ~ * #wrapper-r .header__content .icon {
    display: none;
  }
  input[type=checkbox] ~ * #wrapper-r .header__content ul {
    justify-self: end;
    display: block;
    display: flex;
    margin-top: 0.9em;
    margin-right: 2em;
    font-size: 0.8em;
  }
  input[type=checkbox] ~ * #wrapper-r .header__content ul li {
    margin: 1em 2em;
    list-style: none;
  }
  input[type=checkbox] ~ * #wrapper-r .header__content ul li a {
    text-decoration: none;
    letter-spacing: 2px;
    color: var(--VeryDarkBlue);
    font-size: 0.8em;
  }
  input[type=checkbox] ~ * #wrapper-r .header__content ul button {
    border: none;
    background: var(--SoftRed);
    padding: 0 3em;
    height: 40px;
    margin-top: 0.4em;
    border-radius: 8px;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
  }
}

input[type=checkbox]:checked ~ * #wrapper-r {
  display: block;
}
input[type=checkbox]:checked ~ * #wrapper-r .header__content {
  display: flex;
  flex-direction: column;
  background: var(--VeryDarkBlue);
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
input[type=checkbox]:checked ~ * #wrapper-r .header__content .flex {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(134, 131, 131, 0.411);
  width: 84%;
  margin: 1em auto;
  padding: 1.5em 0;
  box-sizing: border-box;
}
input[type=checkbox]:checked ~ * #wrapper-r .header__content .flex .logo {
  background: url("../images/logo-bookmark-white.svg") no-repeat;
  height: 30px;
  width: 50%;
}
input[type=checkbox]:checked ~ * #wrapper-r .header__content .flex .icon {
  background: url("../images/icon-close.svg") no-repeat;
  height: 30px;
  width: 19px;
  margin-top: -0.7em;
}
input[type=checkbox]:checked ~ * #wrapper-r .header__content ul {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
}
input[type=checkbox]:checked ~ * #wrapper-r .header__content ul li {
  list-style: none;
  padding: 1em 0;
  border-bottom: 0.5px solid rgba(134, 131, 131, 0.411);
  width: 85%;
  margin: 0 auto;
}
input[type=checkbox]:checked ~ * #wrapper-r .header__content ul li a {
  text-decoration: none;
  color: var(--lighGray);
  letter-spacing: 3px;
}
input[type=checkbox]:checked ~ * #wrapper-r .header__content ul button {
  border: 2px solid white;
  background: none;
  width: 85%;
  margin: 2em auto;
  color: white;
  padding: 0.8em 0;
  font-size: 1em;
  letter-spacing: 3px;
  font-weight: 600;
  border-radius: 5px;
}

.hero {
  width: 100%;
}
.hero__imagenContent {
  width: 100%;
  height: 100%;
}
.hero__imagen {
  padding-top: 2em;
  max-width: 100%;
  height: 200px;
}
.hero__fondo {
  background: var(--SoftBlue);
  height: 155px;
  width: 75%;
  position: absolute;
  left: 25%;
  top: 8.5em;
  border-bottom-left-radius: 40%;
  z-index: -1;
}
.hero__content {
  text-align: center;
  padding: 2em 1em;
}
.hero__boton {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 1em;
  justify-content: center;
}
@media screen and (min-width: 490px) {
  .hero .hero__imagen {
    height: 250px;
  }
  .hero .hero__fondo {
    height: 200px;
    top: 9em;
  }
}
@media screen and (min-width: 580px) {
  .hero .hero__imagen {
    height: 300px;
  }
  .hero .hero__fondo {
    height: 245px;
  }
}
@media screen and (min-width: 650px) {
  .hero .hero__imagen {
    height: 350px;
  }
  .hero .hero__fondo {
    height: 295px;
  }
}
@media screen and (min-width: 768px) {
  .hero .hero {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .hero .hero__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hero .hero__imagenContent {
    order: 2;
  }
  .hero .hero__content {
    order: 1;
    text-align: start;
    align-self: center;
  }
  .hero .hero__fondo {
    background: var(--SoftBlue);
    height: 270px;
    width: 37%;
    position: absolute;
    left: 63%;
    top: 11em;
    border-bottom-left-radius: 40%;
    z-index: -1;
  }
  .hero .hero__boton {
    justify-content: start;
  }
}

.features {
  overflow-x: hidden;
  text-align: center;
  padding: 4em 1em 2em;
}
.features .copy {
  max-width: 550px;
  margin: 0 auto;
}

.tabs {
  margin-top: 2em;
  border-top: 1px solid var(--lighGray);
}
.tabs__link {
  border-bottom: 1px solid var(--lighGray);
}
.tabs__content {
  display: none;
  flex-direction: column;
}
.tabs__imagen {
  justify-self: end;
}
.tabs__imagen img {
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 1.5em;
  margin-right: 1em;
}
.tabs__grid {
  margin-top: 4em;
}
.tabs__block {
  position: absolute;
  width: 75%;
  height: 195px;
  background: var(--SoftBlue);
  z-index: -1;
  margin-top: 4em;
  left: 0;
  border-bottom-right-radius: 40%;
}
.tabs__contenido {
  max-width: 350px;
  text-align: center;
  margin: 0 auto;
}
.tabs ul {
  padding: 0em;
  margin: 0em;
}
.tabs li {
  list-style: none;
}
.tabs label {
  padding: 1em 0;
  display: block;
  position: relative;
  cursor: pointer;
}
.tabs label:after {
  display: none;
  content: "";
  height: 5px;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 0;
  transform: translateX(50%);
  box-shadow: inset 0 -15px 0px -10px var(--SoftRed);
}
.tabs input {
  display: none;
}
.tabs input[id=bookmarking]:checked ~ ul [for=bookmarking]:after {
  display: block;
}
.tabs input[id=bookmarking]:checked ~ .tabs__grid #tab-bookmarking {
  display: block;
}
.tabs input[id=speendy]:checked ~ ul [for=speendy]:after {
  display: block;
}
.tabs input[id=speendy]:checked ~ .tabs__grid #tab-speendy {
  display: block;
}
.tabs input[id=easy]:checked ~ ul [for=easy]:after {
  display: block;
}
.tabs input[id=easy]:checked ~ .tabs__grid #tab-easy {
  display: block;
}
@media screen and (min-width: 820px) {
  .tabs {
    border-top: none;
  }
  .tabs ul {
    display: flex;
    justify-content: center;
  }
  .tabs ul li {
    font-size: 0.8em;
    min-width: 200px;
  }
  .tabs__block {
    position: absolute;
    height: 230px;
    background: var(--SoftBlue);
    z-index: -1;
    left: -250px;
    border-bottom-right-radius: 40%;
  }
  .tabs__grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tabs__contenido {
    text-align: start;
    justify-content: start;
    justify-self: center;
    padding: 2em 0;
  }
  .tabs__contenido button {
    margin-top: 2em;
  }
}
@media screen and (min-width: 300px) {
  .tabs__alto {
    margin-top: 2em;
  }
}
@media screen and (min-width: 400px) {
  .tabs__block {
    margin-top: 6em;
  }
  .tabs__alto {
    margin-top: 2em;
  }
}
@media screen and (min-width: 450px) {
  .tabs__block {
    margin-top: 7em;
  }
  .tabs__alto {
    margin-top: 2em;
  }
}
@media screen and (min-width: 550px) {
  .tabs__block {
    width: 60%;
    margin-top: 7em;
  }
  .tabs__alto {
    margin-top: 2em;
  }
}

.download {
  text-align: center;
  padding: 4em 1em;
}
.download__content {
  flex: 1;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 2em;
  border-radius: 18px;
  background: #fafafa;
  box-shadow: 7px 7px 14px #f3f3f3, 7px 7px 14px #ffffff;
}
.download__content p {
  padding-bottom: 1.4em;
}
.download__content img {
  padding-bottom: 1em;
}
.download__content button {
  width: 75%;
  margin: 0 auto;
}
@media screen and (min-width: 860px) {
  .download__grid {
    display: grid;
    column-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 3em;
    padding-bottom: 5em;
  }
  .download__content .dots {
    width: 100%;
  }
  .download__content button {
    width: 85%;
    margin: 0 auto;
  }
  .download__content:first-child {
    align-self: start;
    margin-top: -2em;
    position: relative;
  }
  .download__content:first-child .dots {
    width: 100%;
  }
  .download__content:nth-child(2n) {
    align-self: center;
  }
  .download__content:last-child {
    align-self: end;
    margin-bottom: -4em;
    position: relative;
  }
}

.quiestions__content {
  text-align: center;
  padding-bottom: 2em;
  overflow-x: hidden;
}
.quiestions .carousel {
  width: 85%;
  margin: 0 auto;
}
.quiestions .carousel ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.quiestions .carousel ul li {
  padding: 1em 0;
}
.quiestions .carousel__click {
  display: grid;
  grid-template-columns: auto 25px;
  grid-template-rows: auto auto;
  border-bottom: 1px solid var(--lighGray);
}
.quiestions .carousel__click .copy2 {
  color: var(--VeryDarkBlue);
}
.quiestions .carousel__click label {
  align-self: center;
  justify-self: end;
}
.quiestions .carousel__click svg {
  cursor: pointer;
}
.quiestions .carousel__hidden {
  display: none;
  grid-column: 1/3;
}
.quiestions .carousel input {
  display: none;
}
.quiestions .carousel input[id=what]:checked ~ * #what-hidden {
  display: block;
}
.quiestions .carousel input[id=how]:checked ~ * #how-hidden {
  display: block;
}
.quiestions .carousel input[id=app]:checked ~ * #app-hidden {
  display: block;
}
.quiestions .carousel input[id=other]:checked ~ * #other-hidden {
  display: block;
}
@media screen and (min-width: 768px) {
  .quiestions__grid {
    max-width: 500px;
    margin: 0 auto;
  }
}

.join {
  background: var(--SoftBlue);
  margin-top: 2em;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}
.join small {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  padding-top: 4em;
  padding-bottom: 1em;
  font-size: 0.6em;
  display: inline-block;
}
.join .title__h2 {
  color: white;
}
.join .form {
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
}
.join .form__input {
  border: none;
  height: 35px;
  margin-bottom: 2em;
  border-radius: 5px;
  padding-left: 2em;
}
.join .form button {
  margin-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .join__grid {
    max-width: 400px;
    margin: 0 auto;
  }
  .join__grid h4 {
    padding: 0 2em 1em;
    margin: 0 auto;
  }
  .join__grid .form {
    display: inline;
  }
  .join__grid .form input {
    width: 55%;
    height: 40px;
    padding-left: 1em;
    margin-right: 1em;
  }
  .join__grid .form input[type=text]:focus {
    border: none;
  }
}

.footer {
  background: var(--VeryDarkBlue);
  width: 100%;
  text-align: center;
}
.footer__img {
  margin-top: 2em;
}
.footer ul {
  padding: 0;
}
.footer ul li {
  list-style: none;
  margin-bottom: 2em;
}
.footer ul li a {
  font-size: 0.9em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--GrayishBlue);
  letter-spacing: 2px;
}
.footer__social {
  padding-bottom: 2em;
}
.footer__social img {
  margin: auto 1em;
}
@media screen and (min-width: 868px) {
  .footer .grid {
    width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: auto 100px;
  }
  .footer .grid .flex {
    display: flex;
  }
  .footer .grid .flex img {
    height: 20px;
    margin: 3em 0;
    margin-right: 1em;
  }
  .footer .grid .flex ul {
    display: flex;
  }
  .footer .grid .flex ul li {
    margin: 1.9em 1.2em;
  }
  .footer .grid .footer__social {
    display: flex;
    margin-top: 3em;
  }
}

:root {
  --SoftBlue: hsl(231, 69%, 60%);
  --SoftRed: #fa5757;
  --GrayishBlue: hsl(229, 8%, 60%);
  --VeryDarkBlue: hsl(229, 31%, 21%);
  --lighGray: #e5e5e5;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--GrayishBlue);
  min-width: 370px;
}

.wrapper {
  max-width: 1280px;
  padding: 0 1em;
  margin: auto;
}

.copy {
  line-height: 1.7;
  font-size: 0.8em;
}

.hidde {
  display: none;
}

.title__h1 {
  font-size: 2, 5em;
  color: var(--VeryDarkBlue);
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 0.5em;
}
.title__h2 {
  font-size: 2, 5em;
  color: var(--VeryDarkBlue);
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.3em;
}
.title__h3 {
  font-size: 2, 5em;
  color: var(--VeryDarkBlue);
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1em;
}

.boton__blue {
  border: none;
  padding: 0.9em 0.8em;
  font-size: 0.8em;
  cursor: pointer;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  background: var(--SoftBlue);
}
.boton__white {
  border: none;
  padding: 0.9em 0.8em;
  font-size: 0.8em;
  cursor: pointer;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  background: var(--SoftBlue);
  color: var(--VeryDarkBlue);
  font-weight: 600;
  background: #f3f3f3;
  box-shadow: 7px 7px 14px #dddddd, -7px -7px 14px #ffffff;
}

input:hover {
  border: none;
}

.boton__white:hover,
.boton__blue:hover {
  border: none;
}

/*# sourceMappingURL=estilos.css.map */
